/* .app {
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1523995462485-3d171b5c8fa9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
    background-repeat: no-repeat;
    background-size: contain;

} */